<div class="login row d-flex align-items-center">
  <div class="col-6">
    <div class="row">
      <div class="col-8 offset-4">
        <form>
          <div class="form-group">
            <label for="usuario">Usuário</label>
            <input
              type="text"
              class="form-control"
              id="usuario"
              placeholder="Informe seu usuário"
            />
          </div>
          <div class="form-group">
            <label for="senha">Senha</label>
            <input
              type="password"
              class="form-control"
              id="senha"
              placeholder="Informe sua senha"
            />
          </div>

          <div class="text-right">
            <button routerLink="/" class="btn btn-block btn-primary btn-lg">Entrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-6">
    <h3 class="ml-2">Gestão Financeira</h3>
  </div>
</div>
