<div class="row">
  <div class="col">
    <div class="card animated fadeIn">
      <div class="card-header">teste</div>
      <div class="card-body">
        <p>Teste asdfa asdf asdf</p>
        <p>Teste asdfa asdf asdf</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card animated fadeIn">
      <div class="card-header">teste</div>
      <div class="card-body">
        <p>Teste asdfa asdf asdf</p>
        <p>Teste asdfa asdf asdf</p>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <highcharts-chart
          [Highcharts]="Highcharts"
          [options]="chartOptions"
          style="width: 100%; height: 500px; display: block"
        ></highcharts-chart>
      </div>
    </div>
  </div>
</div>
